<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Hello World and Anna</h1>
<ul>
    <li><a href="{% url 'add_words' %}">Add words</a></li>
    <li><a href="{% url 'test' %}">Test</a></li>
    <li><a href="{% url 'library' %}">Library</a></li>
</ul>

<button onclick="window.location.href='{% url 'add_words' %}'">Go to Page 1</button>
<button onclick="window.location.href='{% url 'test' %}'">Go to Page 2</button>
<button onclick="window.location.href='{% url 'library' %}'">Go to Page 3</button>

</body>
</html>